# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 내부 서브 레포 제거
UMC-8th-BE/

# 환경 변수 파일
.env
.env.*.local

# 빌드 아웃풋
build

# 로그 폴더 (일부 프레임워크에서 사용)
.log/
